{% extends '_base.html' %}

{% load pagination %}

{% block content %}
<div class="px-4 py-3 my-2 text-center col-lg-12">
    <div class="container">
        <div class="row align-items-start justify-content-center col-lg-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="card col col-lg-6">
                <div class="card-body">
                    <h3 class="card-title">Artists</h3>

                    <div class="btn-group btn-group-md" role="group" aria-label="">
                        <a type="button" class="btn btn-primary" href="{% url 'artist_create' %}">Create new</a>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Albums</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for artist in results %}
                            <tr>
                                <th scope="row">{{ artist.id }}</th>
                                <td>{{ artist.name }}</td>
                                <td>{{ artist.albums.count }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="">
                                        <a type="button" class="btn btn-primary" href="{% url 'artist_edit' artist.id %}">Edit</a>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-artist-delete-{{ artist.id }}">Delete</button>

                                        <div class="modal" tabindex="-1" id="modal-artist-delete-{{ artist.id }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delete artist</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Do you really want to delete artist "{{ artist.name }}" ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <form method="post" action="{% url 'artist_delete' artist.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center align-items-stretch">
                            {% if results.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'artists' %}?p={{ results.previous_page_number }}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                            {% endif %}

                            {% get_paginator_elided_page_range results.paginator results.number 2 as page_range %}

                            {% for n in page_range %}
                                {% if n == results.number %}
                                    <li class="page-item disabled">
                                        <a class="page-link">{{ n }}</a>
                                    </li>
                                {% elif n != results.paginator.ELLIPSIS %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'artists' %}?p={{ n }}">{{ n }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if results.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="{% url 'artists' %}?p={{ results.next_page_number }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Next</a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}