{% extends '_base.html' %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://img.freepik.com/free-vector/analytics-data-science-database-analysis-statistical-report-information-processing-automation-datacenter-expert-making-report-vector-isolated-concept-metaphor-illustration_335657-2781.jpg?" alt="" width="120" height="120">
    <h1 class="display-5 fw-bold">Welcome to the Chinook Editor!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Edit your Chinook database visually, fed by your favoured artists.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Start editing</button>
            {% comment %}<button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>{% endcomment %}
        </div>
    </div>
</div>
{% endblock content %}